header{ 
background: pink;
padding: 5px;
text-align: center;
font: 40px "Eurostile"  
}

nav {
  display: block;
  background-color: darkslategrey;
  padding: 10px; 
  word-spacing: 30px;
}

nav:hover{
  background-color: #4db6ac;
}

li { 
  display: inline;
  list-style-type: none;
  padding: 8px; 
}

li a: hover{
  background-color: #4db6ac;
}

li a{
 text-decoration: none; 
 color: antiquewhite;
 font: 20px "Avenir" white;
} 

a:hover{
  color: #263238;
}

.diddy{ 
text-align:center;
  padding: 20px;
  font: 15px "Avenir Next"; 
}

#info{
  font: 12px "Avenir Next";
  color:black;
}

#BTP{
  background-color: #00bcd4;
  height: 200px;
  width: 255px;
  float: left;
  padding: 30px
}

#BTP:hover{
  background-color:lightgreen;
}

#TM{
   background-color: #9575cd;
  height: 200px;
  width: 255px;
  float: right;
  padding: 30px 
}

#TM:hover{
  background-color:#ffc107;
}

#OBC{
   background-color: #ffc107;
  height: 200px;
  width: 255px;
  float: left;
  padding: 30px 
}

#OBC:hover{
  background-color:#9575cd;
}

#KPW{
   background-color: lightgreen;
  height: 200px;
  width: 252px;
  float: right;
  padding: 30px
}

#KPW:hover{
  background-color:#00bcd4;
}

footer{
  background-color: pink;
  text-align: center;
  color: antiquewhite;
  padding: 30px;
  clear:left;
  font: 50px "SignPainter"
}

#aboutME{
  background-color: lightgreen;
  height:150px;
  width: 450px;
  float: left;
  padding: 30px ;
  font: 15px "Avenir Next";
}

#aboutME2{
  background-color: #00bcd4;
  height:150px;
  width: 450px;
  float: right;
  padding: 30px;
  font: 15px "Avenir Next"
}