body {
    background-color: lightcyan;
}
h1 {
  font: 40px "Helvetica";
}
h1 {display: inline-block; 
  border: 10px dashed ;
}
 
p { 
  color: darkcyan;
}
.pClass {
  font-weight: bold;
}
a {
  color: darkslategrey; 
  font: 20px "Helvetica";
}