*{
  box-sizing:border-box;
}

.head, .neck, .chest, .legs{
  position: absolute;
  left: 0;
  right: 0;
  margin: 50px auto;
  margin-top: 
}

.head{
  height: 150px;
  width: 200px;
  background-color: white;
  border: 8px solid black;
  padding: 20px;
}

.eyes {
  height: 40px;
  width: 40px;
  border-radius: 80px;
  position: absolute;
  background: black;
  top: 40px;
}

.eyes.left {
  left: 30px
}

.eyes.right {
right: 30px;
}

.pupil{
  height: 20px;
  width: 20px;
  border-radius: 80px;
  position: absolute;
  background: white;
}

.mouth{
  display: flex;
  position: absolute;
  bottom: 15px;
  left: 30px;
  width: 125px;
  height: 20px;
  border: 3px solid black; 
}

.tooth1, .tooth2, 
.tooth3, .tooth4, 
.tooth5, .tooth6{
  flex: 1;
  border: 3px solid black;
}

.antenna.left{
  width: 10px;
  height: 100px;
  background: black;
  position: absolute;
  top: 0px;
  left: -44px;
  margin: auto;
  transform: rotate(-45deg)
}

.bulb.left{
  height: 30px;
  width: 30px;
  border-radius: 80px;
  position: absolute;
  background: black;
  left: -8px;
  top: -22px;
}

.antenna.right{
  width: 10px;
  height: 100px;
  background: black;
  position: absolute;
  top: 0px;
  right: -44px;
  margin: auto;
  transform: rotate(45deg);
}

.bulb.right{
  height: 30px;
  width: 30px;
  border-radius: 80px;
  position: absolute;
  background: black;
  left: -11px;
  top: -22px;
}

.neck{
  position: absolute;
  height: 30px;
  width: 100px;
  border: 5px solid black;
  top: 150px; 
}

.chest-panel-1{
  width: 300px;
  height: 260px;
  border: 10px solid black;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 170px;
}

.chest-panel-2{
  width: 225px;
  height: 175px;
  border-radius: 45px;
  border: 10px solid black;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 200px;
}

.sketch{
     position: absolute;
     left: 55px;
     top: 2px;
}

.knob.left{
  border: 6px solid black;
  height: 30px;
  width: 30px;
  border-radius: 35px;
  position: absolute;
  bottom: 5px;
  left: 30px;
}

.knob.right{
  border: 6px solid black;
  height: 30px;
  width: 30px;
  border-radius: 35px;
  position: absolute;
  bottom: 5px;
  right: 30px;
}

.center-box{
  background:black;
  height: 15px;
  width: 100px;
  position: absolute;
  bottom: 12px;
  left: 90px;
}

.arm{
  height: 65px;
  width: 110px;
  border: 10px solid black;
  position: absolute;
  right: -110px;
  top: 10px;
}

.upper-arm.right{
  border: 6px solid black;
  position: absolute;
  width: 70px;
  height: 55px;
  top: 45px;
  left: 15px; 
}

.elbow {
   height: 20px;
   width: 70px;
   border: 5px solid black;
   position: absolute;
   top: 95px;
}

.elbow.left{
  left: 5px;
}

.elbow.right{
  left:15px
}

.joint.left{
  height:40px;
  width: 10px;
  border: 3px solid black;
  position: absolute;
  left: -13px;
  top: -10px
}

.joint.right{
  height:40px;
  width: 10px;
  border: 3px solid black;
  position: absolute;
  right: -12px;
  top: -10px
}

.arm.left{
  height: 65px;
  width: 110px;
  border: 10px solid black;
  position: absolute;
  left: -110px;
  top: 10px;
}

.upper-arm.left{
  border: 6px solid black;
  position: absolute;
  width: 70px;
  height: 55px;
  top: 45px;
  left: 5px; 
}

.lower-arm.right{
  border: 5px solid black;
  position: absolute;
  width: 70px;
  height: 80px;
  top: 110px;
  left: 15px; 
}

.lower-arm.left{
  border: 5px solid black;
  position: absolute;
  width: 70px;
  height: 80px;
  top: 110px;
  left: 5px; 
}

.hand.right{
  border: 5px solid black;
  height: 30px;
  width: 90px;
  position: absolute;
  top: 185px;
  left: 5px
}

.finger-1{
  height: 30px;
  width: 12px;
  border: 3px solid black;
  position: absolute;
  top: 20px;
}

.finger-2{
  height: 30px;
  width: 12px;
  border: 3px solid black;
  position: absolute;
  top: 20px;
  left: 34px;
}

.finger-3{
  height: 30px;
  width: 12px;
  border: 3px solid black;
  position: absolute;
  top: 20px;
  left: 65px;
}

.hand.left{
  border: 5px solid black;
  height: 30px;
  width: 90px;
  position: absolute;
  top: 185px;
  left: -5px
}

.leg.left{
  border: 8px solid black;
  height: 100px;
  width: 75px;
  position: absolute;
  top: 420px;
  left: 520px;
  transform: rotate(180deg);
}

.leg.right{
  border: 8px solid black;
  height: 100px;
  width: 75px;
  position: absolute;
  top: 420px;
  right: 520px;
  transform: rotate(180deg);
}

.leg-joint.left{
  border: 5px solid black;
  height:50px;
  width: 20px;
  position: absolute;
  top: -35px;
  left: -20px
}

.leg-joint.right{
  border: 5px solid black;
  height:50px;
  width: 20px;
  position: absolute;
  top: -35px;
  right: -20px
}

.knee{
   border: 8px solid black;
   height: 25px;
   width: 75px;
   position: absolute;
   top: -25px;
   left: -8px
}

.lower-leg{
  border: 8px solid black;
  height: 100px;
  width: 75px;
  position: absolute;
  top: -100px;
  left: -8px
}

.foot{
   border:5px solid black;
   height: 35px;
   width: 120px;
   position: absolute;
   top: -130px;
   left: -31px
}

