*{
     box-sizing: border-box;
}

.headline, .dates, .side-bar, .main-topic{
  position: absolute;
  left: 0;
  right: 0;
  margin: 50px auto;
  margin-top: 5px;
}

.headline{
     border-radius: 20px;
     background-color: darkslategrey;
     height: 200px;
     width: 1000    
}

#Catch{
     font-family: 'Rock Salt', cursive;
     font-size: 70px;
     color:whitesmoke;
     position: absolute;
     left: 135px; 
     top: -50px; 
}

.date{
     position: absolute;
     top:225px;
     left: 600px;
     font-family: 'Poiret One', cursive;
}