body {
  margin: 20px;
}

* {
  box-sizing: border-box;
}

#wrapper {
  border: 2px dotted slategray;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}

nav > a{
  font: 20px "Helvetica";
  text-decoration: none;
  color: antiquewhite;
  background-color: darkslategrey;
  padding: 10px 30px;
  border-radius: 10px;
  display: inline-block;
}

nav > a:hover{ background-color: #4db6ac;
  
}

header{
  background-color: #D4D8D8;
  padding: 10px;
  margin: 20px auto ;
}

h1,h3{
  margin:0;  
}

img{
  padding: 10px;
  border: dotted grey;
  float: left;
  margin-right: 20px;
}

div{ float: center;}

.article-copy{
  font: 15px "Helvetica";
}

footer{
  border: dotted grey;
  box-sizing: content-box;
  padding: 5px;
}

 footer h4 {
  font: 20px "Helvetica";
  margin: 0;  
}

footer > a{
  font: 10px "Helvetica";
  color: grey;
}