*{
    box-sizing:border-box;
}

.main-container{
    width: 1000px;
    margin: 0 auto 0 auto; 
     background-color: whitesmoke;

}

.promo-container{
     background-image: url(photo-1448526478325-616f2b15b04e.jpeg);
    
}

header{
    display: flex;
}

.branding {
    width:150px;
    height:45px;
    margin-right:auto
}

.Name{
     position: absolute;
     top: -50px;
     left: 165px;
     font-family: 'Amatic SC', cursive;
     font-size: 50px; 
}

.pill-button { 
     font-family: 'Special Elite', cursive;
     border-radius: 20px;
     display: inline-block;
     background: grey;
     padding: 10px 30px;
     color: white;
     text-decoration:none;  
} 

.pill-button:hover{
     background-color: tomato;
}


.promo{
     font-family: 'Special Elite', cursive;
     background: white;
     color: black;
     padding: 10px 50px;
}
/* Big Promo */

#big-promo{
    padding-top: 200px;
}

.promo-message{
     font-family: 'Special Elite', cursive;
     width: 60%;
     padding:50px;
}
/*Product Features*/
.product-features, .product-buy-now{
     display:flex;     
}

.feature{
     text-align:center;
     padding: 20px;
     font-family: 'Special Elite', cursive;
}

.feature-image{
     width: 200px;
     height: 200px;
     margin: 0 auto;
     border-radius: 50%;
     overflow: hidden;
}

.product-buy-now{ 
     align-items: center;
}
.product-info{
     font-family: 'Special Elite', cursive;
     text-align: right;
}

#product-reviews{
     text-align: center;
     padding:30px;
     font-family: 'Special Elite', cursive;
}

footer{ 
     display: flex;
     padding: 15px 10px 15px 10px;
     font: 12px "Helvetica";
     background-color: cadetblue;
}

.footer-links{
     flex:1;
}

.footer-links a{
     text-decoration: none;
}

.footer-copyright{
     flex:1;
     text-align: right;
}

.footer-copyright p{
     margin: 0;
     font: 12px "Helvetica";
}