*{
    box-sizing:border-box;
}

.main-container{
     width: 1000px;
     margin: 0 auto 0 auto; 
     background-color: whitesmoke;
}

 header{
      display: flex;
     margin:0px 30px 0 30px;
      height:120px;
      background: slategrey;

}

.branding {
     width:150px;
     height:45px;
     margin-left:190px;
     margin-top: 10px;
}

.pill-button { 
     display: inline-block;
     padding: 10px 10px;
     margin-top: 40px;
     color: darkslategrey;
     text-decoration:none;  
} 

.pill-button.pricing{
     border: 2px solid black;
     padding: 10px 50px;
     position: relative;
     top:-30px;
}

.sign_up{
     text-align: center;
     width: auto;
     height:400px;
     position: relative;
     
}

.sign_up_centering {
     width: 60%;
     margin: auto;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 200px;
     height: 250px;
}

.features{
     display: flex;
     text-align: center;
     margin-top: 100px;
}

.features p{
     padding: 20px;
}

.exclusive_features{
     display:flex;
     margin-top: 100px;
}

.feature_image_text{
     text-align: left;
     padding: 0px 50px;     
}

footer{
     text-align: right;  
}

.pill-button.footer{
     text-decoration: underline;
     margin-bottom: -10px
}

.foursquare{
     position: relative;
     display: block;
     text-align: left;
     height: 500px;
     margin-top: 60px;  
     margin-bottom: 100px;
}

.feat_one{
    float: left;
     padding-right: 30px;
}

.feature_one{
    position: absolute;
     width: 500px;
     float: right;
     padding: 0px 30px;
}

.feat_two{
    float: left;
     padding-right: 30px;

}

.feature_two{  
     position: absolute;
     width: 500px;
     right:0px;
     float:right;
     padding: 0px 30px;

}

.feat_three{
    float: left;
     padding-right: 30px;

}

.feature_three{
     position: absolute;
     left: 0px;
     top:200px;
     width: 500px;
     padding: 0px 30px;
}

.feat_four{
    float: left;
     padding-right: 30px;

}

.feature_four{
     position: absolute;
     right: 0px;
     top: 200px;
     width: 500px;
     padding: 0px 30px;

}

.banner{
     height:600px;
}